@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Taşmayı gizler */
}


.end-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tam ekran yüksekliği */
    text-align: center; /* Metin hizalaması */
    padding: 50px;
}

.end-div p {
    letter-spacing: 2px;
}